<h1>수강신청 목록</h1>
<h2>학번 : <%= @Lecture.name %></h2>

<table>
  <thead>
    <tr>
      <th>강의</th>
      <tH>강의계획서</tH>
    </tr>
  </thead>
  <tbody>
    <%=Lecture.each do |l| %>
    <tr>
      <td><%=@l.enrolls.id %></td>
      <td><%= %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%#= link_to '수정', edit_lecture_enroll_path(@enroll.lecture, @enroll) %> |
<%#= link_to '뒤로가기', category_lecture_path(@enroll.lecture.category,@enroll.lecture) %>
