<div class="container">
  <h1>Editing lecture</h1>
</div>
<%= render 'form' %>
<div class="container">
  <%= link_to 'Show', [@lecture.category, @lecture] %> |
  <%= link_to 'Back', category_lectures_path(@lecture.category) %>
</div>
