<center>
  <h1>관리자 편집 임명</h1>
  <%= render 'form' %>
  <%= link_to 'Show', [@lecture_admin.lecture, @lecture_admin] %> |
  <%= link_to 'Back', lecture_lecture_admins_path(@lecture_admin.lecture) %>
</center>
